@import url(normalize.css);
html{font: 10px/1 "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu}
a{color: #666;text-decoration: none;}
body{background: #f3f3f3;}
ul, li{
	margin: 0;
    padding: 0;
    list-style-type: none;
}
body{background: #f3f3f3;}
.wrapper{
	background: #f3f3f3;
	padding:42px 0 100px 0;
	font-size: 0;
}
/*清除浮动*/
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/*单行省略*/
.ellipsis{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.loading{padding: 8px 0;font-size: 12px;}