@import url(normalize.css);
html{font: 10px/1 "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu}
a{color: #666;text-decoration: none;}
body{background: #f3f3f3;}
ul, li{
    list-style-type: none;
}
*{margin: 0;padding: 0;}
body{background: #f3f3f3;}
.wrapper{
	background: #f3f3f3;
	padding:42px 0 100px 0;
	font-size: 0;
}
/*清除浮动*/
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/*单行省略*/
.ellipsis{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.loading{padding: 8px 0;font-size: 12px;}
/*头部搜索*/
header{
	position: relative;
	background: #fccf00;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 50%;
	z-index: 66;
	width: 100%;
	max-width: 640px;
	min-width:320px;
	box-sizing: border-box;
	-webkit-transform: translate(-50%,0);  
      -ms-transform: translate(-50%,0);  
          transform: translate(-50%,0);
}
.header{
	padding: 5px 45px;
}
.h-title{
	font-size: 18px;
	text-align: center;
	color: #333;
	margin: 0;
	line-height: 46px;
}
.search-wrap{
	padding:  0 10px;
	position: relative;
	font-size: 14px;
	color: #666;
	box-sizing: border-box;
	overflow: hidden;
}
.search-input{
	border:0;
	background: #fee767;
	width: 100%;
	height: 100%;
	padding: 10px 0 10px 24px;
	border-radius: 6px;
	outline: 0;
	box-sizing: border-box;
}
.search-icon{
	width: 16px;
	height: 16px;
	display: block;
	background: url('../assets/image/icon-search.png') center no-repeat;
	background-size: cover;
	position: absolute;
	top: 50%;
	left: 14px;
	margin: -8px 0;
}
.scan-icon,.inf-icon{
	display: block;
	width: 26px;
	height: 28px;
	position: absolute;
	top: 50%;
	margin: -14px 0;
}
.scan-icon{
	background: url('../assets/image/icon-scan.png') center no-repeat;
	background-size: 25px;
	left: 10px;
}
.inf-icon{
	background: url('../assets/image/icon-inf.png') center no-repeat;
	background-size: 21px;
	right: 10px;
}
footer{
	position: fixed;
	width: 100%;
	max-width: 640px;
	min-width: 320px;
	bottom: 0;
	left: 50%;
	background: #fff;
	z-index: 666;
	border-top: 1px solid #e0e0e0;
	-webkit-transform: translate(-50%,0);  
      -ms-transform: translate(-50%,0);  
          transform: translate(-50%,0);
}
.foot-menu-item{
	float: left;
	width: 25%;
}
.foot-menu-item a{
	display: block;
	padding-top: 30px;
	position: relative;
}
.foot-icon{
	display: block;
	text-align: center;
	font-size: 0;
	width: 25px;
	height: 25px;
	position: absolute;
	top: 5px;
	left: 50%;
	margin: 0 -12.5px;
}
.foot-icon  img{
	width: 25px;
}
.foot-w{
	font-size: 12px;
	color: #333;
	text-align: center;
	margin: 5px 0;
}
.mall-icon{
	background: url('../assets/image/foot-sprite.png') -65px -30px no-repeat;
	background-size: 125px;
}
.mall-icon.active{
	background: url('../assets/image/foot-sprite.png') -98px -30px no-repeat;
	background-size: 125px;
}
.account-icon{
	background: url('../assets/image/foot-sprite.png') no-repeat;
	background-size: 125px;
}
.account-icon.active{
	background: url('../assets/image/foot-sprite.png') -33px 0 no-repeat;
	background-size: 125px;
}
.find-icon{
	background: url('../assets/image/foot-sprite.png') 0 -30px no-repeat;
	background-size: 125px;
}
.find-icon.active{
	background: url('../assets/image/foot-sprite.png') -32px -30px no-repeat;
	background-size: 125px;
}
.contact-icon{
	background: url('../assets/image/foot-sprite.png') -65px 0 no-repeat;
	background-size: 125px;
}
.contact-icon.active{
	background: url('../assets/image/foot-sprite.png') -100px 0 no-repeat;
	background-size: 125px;
}