.share-icon{
	display: block;
	width: 40px;
	height: 30px;
	position: absolute;
	top: 50%;
	right: 0;
	margin: -15px 0;
	background: url('../../assets/image/icon-share.png') center no-repeat;
	background-size: 20px;
}
.company-top{
	padding-bottom: 36%;
	margin-top: 46px;
	background: url('../../assets/image/company-bg.png') no-repeat;
	position: relative;
}
.company-top-con{
	position: absolute;
	bottom: 10%;
	width: 100%;
	box-sizing: border-box;
	padding:0 15px;
	font-size: 0;
}
.company-inf{
	float: left;
	width: 70%;
}
.company-logo{
	float: left;
	width: 55px;
	height: 55px;
	overflow: hidden;
}
.company-logo img{
	max-width: 100%;
	max-height: 100%;
}
.company-sign{
	float: left;
	padding-left: 10px;
	text-align: left;
}
.company-name{
	font-size: 13px;
	color: #fff;
	text-align: center;
	margin: 7px 0;
	text-align: left;
}
.company-type,.company-level{
	height: 20px;
	display: inline-block;
	font-size: 10px;
	box-sizing: border-box;
	vertical-align: middle;
}
.company-type{
	color: #fccf00;
	line-height: 20px;
	padding:0 2px 0 20px;
	border-radius: 4px;
	border:1px solid #fccf00;
	margin-right: 10px;
}
.company-type2{
	background: url('../../assets/image/com-type3.png') left center no-repeat;
	background-size: 19px;
}
.company-type3{
	background: url('../../assets/image/com-type.png') left center no-repeat;
	background-size: 19px;
}
.company-level3{
	background: url('../../assets/image/com-strength3.png') no-repeat;
	background-size: 60px;
}
.company-level2{
	background: url('../../assets/image/com-strength2.png') no-repeat;
	background-size: 60px;
}
.company-level1{
	background: url('../../assets/image/com-strength1.png') no-repeat;
	background-size: 60px;
}
.attention{
	float: right;
	border-radius: 4px;
	vertical-align: bottom;
	position: relative;
	top: 11px;
	overflow: hidden;
}
.attention li{
	height: 22px;
	line-height: 22px;
	font-size: 13px;
	min-width: 60px;
	box-sizing: border-box;
}
.attention-num{
	background: #fff;
	color: #666;
	padding: 0 7px;
}
.attention-btn{
	background: #ccc;
	color: #fff;
}
.company-nav{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    color: #999;
}
.company-nav li{
	width: 33.33%;
	font-size: 15px;
	padding: 16px 0;
}
.company-nav .active{position: relative;color: #333;}
.company-nav .active::before{
	content: '';
	display: block;
	width: 90px;
	height: 2px;
	background: #000;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin: 0 -45px;
}
.company-products{
}
.company-products-item{
	border-bottom: 1px solid #e0e0e0;
}
.company-products-link{
	display: block;
	background: #fff;
	width: 100%;
	box-sizing: border-box;
	padding: 10px 20px;
}
.company-products-img{
	display: block;
	float: left;
	width: 33.4%;
	padding-right: 15px;
	box-sizing: border-box;
	min-height: 100px;
	overflow: hidden;
	max-width: 185px;
	max-height: 185px;
}
.new_product_time{
	font-size: 14px;
	color: #999;
	margin: 5px 0;
	text-align: left;
	padding-left: 10px;
}
.company-products-img img{
	max-width: 100%;
}
.company-products-con{
	float: left;
	width: 66.6%;
	text-align: left;
	font-size: 0;
}
.company-products-title{
	font-size: 14px;
	line-height: 24px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	color: #333;
	margin: 5px 0 0 0;
}
.company-products-sign{
	display: inline-block;
	font-size: 11px;
	color: #fccf00;
	border:1px solid #fccf00;
	padding:4px 4px 4px 18px;
	border-radius:5px;
	margin: 3% 0 0 0;
	position: relative;
}
.company-products-main{
	font-size: 13px;
	margin: 4% 0 0 0;
}
.company-products-price{
	color:#f00;
}
/*企业展厅*/
.company-hall{
	padding: 10px 0;
	font-size: 0;
}
.hall-title{
	font-size: 15px;
	color: #333;
	text-align: left;
	position: relative;
	margin: 15px 0;
	padding: 0 10px 0 26px;
}
.hall-title::before{
	content:'';
	display: block;
	width: 5px;
	height: 16px;
	background: #fccf00;
	position: absolute;
	top: 50%;
	left: 10px;
	margin: -8px 0;
}
.hall-content{
	position: relative;
	overflow: hidden;
	padding:0 10px 9px 10px;
	box-sizing: border-box;
}
.panoramic-img{
	width: 100%;
}
.icon-panoramic{
	display: block;
	width: 44px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px -22px;
}
.icon-panoramic img{width: 100%;}
.video-btn{
	display: block;
	width: 45px;
	height: 45px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -22.5px;
}
.video-btn img{width: 100%}
.companyHome-foot{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: 1px solid #e0e0e0;
    background: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    z-index: 22;
}
.companyHome-foot a{
	width: 50%;
	font-size: 17px;
	line-height: 50px;
	height: 50px;
}
.go-introduce{
	background: #fff;
	color: #333;
}
.link-introduce{
	background: #fe0000;
	color: #fff;
}
.swiper-slide{
	width: 33.3%
}
.swiper-container{
	padding: 35px 0 90px;
}
.swiper-box{position: relative;}
.recommend-item{
	display: block;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	background: #fff;
	border-radius: 5px;
	box-shadow: 
	-5px 0 5px #ebda91,
	0 -5px 5px #ebda91,
	5px 0 5px #ebda91,
	0 5px 5px #ebda91
	;
}
.recommend-img{
	display: block;
}
.recommend-img img{
	width: 100%;
}
.recommend-title{
	font-size: 12px;
	color: #333;
	text-align: left;
	padding: 10px 0 0;
	margin: 0;
}
.img-shadow{
	background: #fccf00;
	height: 130px;
	position: absolute;
	bottom: 9%;
	left: 0;
	width: 100%;
}
.circle{
	display: block;
	width: 100%;
	height: 40px;
	background: #fff;
	position: absolute;
	bottom: 90px;
	border-radius: 0 0 100% 100%;
}
.g-shadow{
	display: block;
	width: 34%;
	background: #c19f01;
	height: 10px;
	position: absolute;
	bottom: 13%;
	left: 33%;
	border-radius: 100%;
}
.activeHide{display: none}
/**/
.no-recommend-ul{
	padding: 35px 0 90px;
}
.no-recommend-ul li{
	display: inline-block;
	background: #fff;
	padding-bottom: 39.9%;
	width: 33.3%;
	vertical-align: middle;
	border-radius: 5px;
	box-shadow: 
	-5px 0 5px #ebda91,
	0 -5px 5px #ebda91,
	5px 0 5px #ebda91,
	0 5px 5px #ebda91
	;
}
.no-recommend-1{
	position: relative;
	left: 5%;
	transform: scale(.8);
	z-index: 2;
}
.no-recommend-2{
	position: relative;
	font-size: 14px;
	color: #333;
	line-height: 160px;
	z-index: 3;
}
.re-tips{
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	transform: translate(0,-50%);
}
.re-tips img{
	width: 48px;
}
.re-tips::before{
	content: '';
	display: block;
	width: 55%;
	height: 1px;
	background: #888;
	position: absolute;
	top: 50%;
	left: -50%;
}
.re-tips::after{
	content: '';
	display: block;
	width: 55%;
	height: 1px;
	background: #888;
	position: absolute;
	top: 50%;
	right: -50%;
}
.no-recommend-3{
	z-index: 2;
	position: relative;
	right: 5%;
	transform: scale(.8);
}
@media screen and (max-width: 520px){
	.g-shadow{
		bottom: 22%;
	}
}
@media screen and (max-width: 350px){
	.re-tips img{
		width: 40px;
	}
	.re-tips{
		font-size: 12px;
	}
}